# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/

# Локальные переменные окружения
.env
.env.local

# Cloudflare
.wrangler/
node_modules/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
